
main{
    display: flex;
}


.parent{
    display: grid;
    grid-auto-rows: 2fr 1fr 1fr;
    max-height: 820px;
    width: 400px;
}

.parent2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-auto-rows: minmax(200px, 0px);
    width: 800px;

}

.parent3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-auto-rows: minmax(200px, 0px);
    width: 800px;

}

.div6, .div11{
    grid-area: 2 / 1 / 3 / 3;
}

img {
    object-fit: cover;
    width: 400px;
    height: 200px;

  }

  .div1{
    display: grid;
    grid-template-columns: 1fr 1fr;

  }

  .most-read, .most-read > h2{
      background-color: rgb(245, 245, 219);
      color:rgb(221, 19, 60) ;
  }

  .recommended{
      background-color: rgb(221, 19, 60);
  }

  p{
      color: black;
  }

  .div6 > img{
    object-fit: cover;

    width: 800px;
    height: 400px;
  }

  .div11 > img{
    object-fit: cover;

    width: 800px;
    height: 400px;
  }
