body{
    background-color: burlywood;

}

main{
    border-radius: 10px;
    display: grid;
    height: 450px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 800px;
    margin: 0 auto;
    text-align: center;
    font-family: "Poppins", sans-serif;
    margin-top: 200px;
    background-color: white;
    padding: 10px;

}

.cont{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 40px;
    line-height: 40px;
    

}

.container2{
    background-color: darkblue;
}

.container2 > p, .container2 > h2, .container2 > h3{
    color: white;
}


button{
    background-color: white;
    border: 1px darkblue solid;
    color: darkblue;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    
}

div:hover {
    transform: scale(1.04);
    }

    @keyframes changeColor{
        0% {background-color: red;}
        50% {background-color: green;}
        100% {background-color: blue;}
    }

    body{
        animation: changeColor 3s;
    }


    @media screen and (max-width: 768px) {

        main{
            width: 400px;
            height: auto;
            grid-template-columns: 100%;
        }


        div:hover {
            transform: scale(1.00);
            }
    }
